{% extends 'home/layout.html' %}
{% block css %}{% endblock %}
{% block content %}
<div class="container" style="margin-top: 75px">
    <div class="row">
        {% include 'home/menu.html'%}
        <div class="col-md-9" style="padding:0">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;修改密码</h3>
                </div>
                <div class="panel-body">
                    {% for msg in get_flashed_messages(category_filter=["error"]) %}
                    <p style="color:red">{{msg}}</p>
                    {% endfor %}
                    {% for msg in get_flashed_messages(category_filter=["okey"]) %}
                    <p style="color:green">{{msg}},请直接<a href="{{url_for('home.login')}}">登录</a>!</p>
                    {% endfor %}
                    <form role="form" method="post" onsubmit="confirm('确认要修改？')">
                        <div class="form-group">
                            <label for="input_phone"><span
                                    class="glyphicon glyphicon-lock"></span>&nbsp;{{form.pwd.label}}</label>
                            {{form.pwd}}
                            {% for err in form.pwd.errors%}
                            <div class="col-md-12" style="color: red">
                                {{err}}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_password"><span
                                    class="glyphicon glyphicon-lock"></span>&nbsp;{{form.newPwd.label}}</label>
                            {{form.newPwd}}
                            {% for err in form.newPwd.errors%}
                            <div class="col-md-12" style="color: red">
                                {{err}}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="input_password"><span
                                    class="glyphicon glyphicon-lock"></span>&nbsp;{{form.sureNewPwd.label}}</label>
                            {{form.sureNewPwd}}
                            {% for err in form.sureNewPwd.errors%}
                            <div class="col-md-12" style="color: red">
                                {{err}}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-12">
                            {{form.csrf_token}}
                            {{form.submit}}
                        </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function () {
        $("#m-2").addClass("active");
    });


</script>
{% endblock %}