{% extends 'home/layout.html' %}
{% block css %}
<style>

</style>
{% endblock %}
{% block content %}
<div class="container" style="margin-top: 75px">
    <div class="row">
        <div class="col-md-12" style="padding:0;">
            <div class="panel panel-default" style="margin: 0">
                <div class="panel-heading" style="background:#a94442;color:white;font-weight:700">资源共享 / <a href=""
                                                                                                            style="color:white;font-weight:700">Android项目源码</a>
                    / <a href="" style="color:white;font-weight:700"></a></div>
            </div>
            <div class="panel panel-default text-center">
                <div class="panel-body ">
                    <ul class="nav nav-tabs  ">
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                Java项目源码 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li role="presentation"><a href="{{url_for('home.sourceCode')}}">Java Web</a></li>
                                <li role="presentation"><a href="{{url_for('home.java_ssm')}}">SSM</a></li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                PHP项目源码 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li role="presentation"><a href="{{url_for('home.php_tp3')}}">ThinkPHP3.2</a></li>
                                <li role="presentation"><a href="{{url_for('home.php_tp5')}}">ThinkPHP5.0</a></li>
                            </ul>
                        </li>
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                Python项目源码 <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li role="presentation"><a href="{{url_for('home.python_django')}}">Django</a></li>
                                <li role="presentation"><a href="{{url_for('home.python_flask')}}">Flask</a></li>
                                <li role="presentation"><a href="{{url_for('home.python_tornado')}}">Tornado</a></li>
                                <li role="presentation"><a href="#">网络爬虫</a></li>
                            </ul>
                        </li>
                        <!--                        <li role="presentation" class="dropdown">-->
                        <!--                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"-->
                        <!--                               aria-haspopup="true" aria-expanded="false">-->
                        <!--                                Android项目源码 <span class="caret"></span>-->
                        <!--                            </a>-->
                        <!--                        </li>-->
                        <li role="presentation" class="active"><a href="{{url_for('home.android')}}">Android项目源码</a></li>

                        <!--                        <li role="presentation" class="dropdown">-->
                        <!--                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"-->
                        <!--                               aria-haspopup="true" aria-expanded="false">-->
                        <!--                                混合开发项目源码 <span class="caret"></span>-->
                        <!--                            </a>-->
                        <!--                        </li>-->
                        <li role="presentation"><a href="{{url_for('home.hybrid')}}">混合开发项目源码</a></li>
                        <li role="presentation"><a href="#">2020毕业设计(高质量)</a></li>
                    </ul>
                    <!--                    <div class="col-md-3" style="padding: 5px">-->
                    <!--                        <a href="">-->
                    <!--                            <img src="{{url_for('static',filename='images/python.png')}}" alt=""-->
                    <!--                                 class="img-responsive img-thumbnail">-->
                    <!--                        </a>-->
                    <!--                        <p>基于***管理系统</p>-->
                    <!--                    </div>-->
                    {% for i in range(10)%}
                    <br>
                    {% endfor %}
                </div>
                <div class="panel-body">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="disabled">
                            <span>
                                <span aria-hidden="true">&laquo;</span>
                            </span>
                            </li>
                            <li class="active">
                                <span style="background:#a94442">1 <span class="sr-only">(<curr></curr>ent)</span></span>
                            </li>
                            <li class="disabled">
                            <span>
                                <span aria-hidden="true">&raquo;</span>
                            </span>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background:#414141;color: #b2bcc5;margin-top: 20px;margin-bottom: 2px">
    <div class="row">
        <div class="col-md-12  text-center" style="padding: 40px">
            <a href="{{url_for('home.aboutUs')}}" style="color:#b2bcc5;">关于本站</a>&nbsp;|&nbsp;<a
                href="{{url_for('home.disclaimer')}}" style="color:#b2bcc5;">免责申明</a>&nbsp;|&nbsp;<a
                href="{{url_for('home.blueprint')}}" style="color:#b2bcc5;">本站蓝图</a>&nbsp;|&nbsp;<a
                href="{{url_for('home.message',page=1)}}" style="color:#b2bcc5;">联系我们&nbsp;</a>&nbsp;
            <!--            <a href="{{url_for('home.index',page=1)}}" style="color:#b2bcc5;">联系我们</a>-->
            <br>
            Copyright © 2018-2019&nbsp; Blue Flag. All Rights Reserved.&nbsp;蓝色旗帜 版权所有&nbsp;
            <br>
            <a target="_blank_" href="http://www.miit.gov.cn/" style="color:#b2bcc5;">豫ICP备19014367号-1</a>
            <!--            <span>版本号:1.1.0.190411_alpha</span>-->
            <span>
                <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1276774494'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1276774494%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
            </span>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function () {
        $("#item2").addClass("active_diy");
    })


</script>
{% endblock %}
