{% extends 'home/layout.html' %}
{% import "ui/homePage.html" as pg%}
{% block css %}
<style>
    .row > .col-md-9 > .panel {
        margin: 1px;
    }

    .row > .col-md-3 > .panel {
        margin: 1px;
    }
</style>
{% endblock %}
{% block content %}
<div class="container" style="margin-top: 75px">
    <div class="row">
        <div class="col-md-3" style="padding:0;padding-left: 3px;padding-right: 3px">
            <div class="panel panel-default">
                <div class="panel-heading">热门搜索</div>
<!--                <ul class="list-group">-->
<!--                    <li class="list-group-item">-->
<!--                        <a href="javascript:;" style="color:#3f3f3f"><span-->
<!--                                class="glyphicon glyphicon-list-alt" style="color: #337ab7"></span>&nbsp;&nbsp;数字类型转换-->
<!--                            &#45;&#45;Python3</a>-->
<!--                    </li>-->
<!--                    <li class="list-group-item">-->
<!--                        <a href="javascript:;" style="color:#3f3f3f"><span-->
<!--                                class="glyphicon glyphicon-list-alt" style="color: #337ab7"></span>&nbsp;&nbsp;Python操作MySql-->
<!--                            &#45;&#45;Python3</a>-->
<!--                    </li>-->
<!--                    <li class="list-group-item">-->
<!--                        <a href="javascript:;" style="color:#3f3f3f"><span-->
<!--                                class="glyphicon glyphicon-list-alt" style="color: #337ab7"></span>&nbsp;&nbsp;Python字符串全解-->
<!--                            &#45;&#45;Python3</a>-->
<!--                    </li>-->
<!--                    <li class="list-group-item">-->
<!--                        <a href="javascript:;" style="color:#3f3f3f"><span-->
<!--                                class="glyphicon glyphicon-list-alt" style="color: #337ab7"></span>&nbsp;&nbsp;Python简单加法器的实现-->
<!--                            &#45;&#45;Python3</a>-->
<!--                    </li>-->
<!--                </ul>-->
            </div>
            <div class="panel panel-default">

            </div>

        </div>
        <div class="col-md-9" style="padding:0;">
            <div class="panel panel-default" style="margin: 0">
                <div class="panel-heading">博文搜索&nbsp;/&nbsp;{{art.title}}</div>
            </div>
            <div class="panel panel-default" style="margin-bottom: 2px">
                <div class="panel-body text-center">
                    <h3 style="font-weight: bold">{{art.title}}</h3>
                    <p>{{art.addTime}}&nbsp;{{art.publisher}}&nbsp;分类:{{art.cate.name}}&nbsp;阅读数量:{{art.viewNum}}&nbsp;评论数量:{{art.commentNum}}</p>
                    <hr>

                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon "></span>&nbsp;评论</h3>
                </div>
                <div class="panel-body">
                    {% if "user" not in session %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <strong>请先<a href="{{url_for('home.login')}}" class="text-info">登录</a>，才可参与评论！</strong>
                    </div>
                    {% endif %}
                    {% if "user" in session %}
                    <div class="box panel-default">
                        <div class="box-body">
                            {% for msg in get_flashed_messages(category_filter=["okey"]) %}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                    ×
                                </button>
                                {{ msg }}
                            </div>
                            {% endfor %}
                            {% for msg in get_flashed_messages(category_filter=["error"]) %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                                    ×
                                </button>
                                <h4><i class="icon fa fa-ban"></i> 操作失败</h4>
                                {{ msg }}
                            </div>
                            {% endfor %}
                        </div>
                        <form role="form" style="margin-bottom:6px;" method="post">
                            <div class="form-group">
                                <div>
                                    <label for="input_content">{{form.content.label}}</label><br>
                                    {{form.content}}
                                </div>
                                {% for err in form.content.errors %}
                                <div class="col-md-12">
                                    <font style="color:red">{{ err }}</font>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                {{form.csrf_token}}
                                &nbsp;{{form.submit}}
                            </div>
                        </form>
                        {% endif %}
                        <div class="breadcrumb">
                            <li>全部评论()</li>
                        </div>
                        {% for v in pageData.items %}
                        <div class="panel">

                            <div class="panel-heading">
                                <i class="avatar size-L radius">
                                    <img alt="50x50" src="holder.js/50x50" class="img-circle"
                                         style="border:1px solid #abcdef;">
                                </i>
                                {{v.user.name}} 评论于{{v.addtime}}
                            </div>
                            <div class="panel-body">
                                &nbsp;&nbsp;&nbsp;&nbsp;{{v.content}}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background:#414141;color: #b2bcc5;margin-top: 20px;margin-bottom: 2px">
    <div class="row">
        <div class="col-md-12  text-center" style="padding: 40px">
            <a href="{{url_for('home.aboutUs')}}" style="color:#b2bcc5;">关于本站</a>&nbsp;|&nbsp;<a
                href="{{url_for('home.disclaimer')}}" style="color:#b2bcc5;">免责申明</a>&nbsp;|&nbsp;<a
                href="{{url_for('home.blueprint')}}" style="color:#b2bcc5;">本站蓝图</a>&nbsp;|&nbsp;<a
                href="{{url_for('home.index',page=1)}}" style="color:#b2bcc5;">留言&nbsp;</a>&nbsp;
            <!--            <a href="{{url_for('home.index',page=1)}}" style="color:#b2bcc5;">联系我们</a>-->
            <br>
            Copyright © 2018-2019&nbsp; Blue Flag. All Rights Reserved.&nbsp;蓝色旗帜 版权所有&nbsp;
            <br>
            <a target="_blank_" href="http://www.miit.gov.cn/" style="color:#b2bcc5;">鲁ICP备17023496号-3</a>
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41152802000084">
                <img src="{{url_for('static',filename='images/beian.png')}}" style="padding-bottom:6px"/>
                <span style="color:#b2bcc5;">豫公网安备 41152802000084号</span>
            </a>
            <span>版本号:1.1.0.190407_alpha</span>
            <span>
                <script
                        type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
                document.write(unescape("%3Cspan id='cnzz_stat_icon_1276774494'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1276774494%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
                </script>
            </span>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=1753632933" type="text/javascript"
        charset="utf-8"></script>
<script>
    WB2.anyWhere(function (W) {
        W.widget.followButton({
            'nick_name': '蓝旗网',  //用户昵称
            'id': "wb_follow_btn",
            'show_head': true, //是否显示头像
            'show_name': true, //是否显示名称
            'show_cancel': true //是否显示取消关注按钮
        });
    });
</script>
<script>
    window._bd_share_config = {
        common: {
            bdText: '自定义分享内容',
            bdDesc: '自定义分享摘要',
            bdUrl: 'https://www.thanlon.cn',
            bdPic: '自定义分享图片'
        },
        share: [{
            "bdSize": 24
        }],
        slide: [{
            bdImg: 4,
            bdPos: "right",
            bdTop: 100
        }],
        image: [{
            viewType: 'list',
            viewPos: 'top',
            viewColor: 'black',
            viewSize: '24',
            viewList: ['sqq', 'weixin', 'qzone', 'tsina', 'douban']
        }],
        selectShare: [{
            "bdselectMiniList": ['sqq', 'weixin', 'qzone', 'tsina', 'douban']
        }]
    };
    with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];
</script>
{% endblock %}
