{% extends 'home/layout.html' %}
{% block css %}{% endblock %}
{% block content %}
<div class="container" style="margin-top: 75px">
    <div class="row">
        {% include 'home/menu.html'%}
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;评论记录</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">小旗在这里要和您说声抱歉，平台升级维护中，请耐心等待一“哈”！</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function () {
        $("#m-3").addClass("active");
    });


</script>
{% endblock %}