<!DOCTYPE html>
<html lang="zh-CN" xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=no">
    <meta name="description" content="本站为互联网信息分享平台，分享优秀互联网技术相关文章，提供练习项目源代码的免费下载，供开发者学习……。">
    <meta name="keywords" content="蓝色旗帜，蓝色旗帜网，源代码，牛新龙，免费，本站定位为互联网信息分享平台，Thanlon，thanlon，">
    <meta name="baidu-site-verification" content="Dw5G7xfcTl"/>
    <meta name="baidu_union_verify" content="8ec475a6cd51c550fc3f8f4babfdb795">
    <link rel="icon" href="{{url_for('static',filename='images/flag.png')}}" type="image/x-icon">
    <link rel="shortcut icon" href="{{url_for('static',filename='images/flag.png')}}" type="image/x-icon">
    <title>蓝色旗帜</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdn.bootcss.com/animate.css/3.7.0/animate.min.css" rel="stylesheet">
    {% block css %}{% endblock %}
    <script>
        (function () {
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            } else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
</head>
<body style="background:#ededed;">
<!--导航-->
<div class="container">
    <div class="row">
        <nav class="navbar navbar-default navbar-fixed-top"
             style="background:#fff;box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.50);">
            <div class="container">
                <!--小屏幕导航按钮和logo-->
                <div class="navbar-header" style="padding-top: 5px">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="{{url_for('home.index',page = 1)}}" class="navbar-brand"
                       style="width:250px;color: #333;height: 60px;padding-top: 15px">
                        <!--                        <img src="">&nbsp;蓝色旗帜-->
                        <span class="glyphicon glyphicon-flag" style="color:#3379b7 "></span>蓝色旗帜
                    </a>
                </div>
                <!--小屏幕导航按钮和logo-->
                <!--导航-->
                <div class="navbar-collapse collapse" style="padding-top: 7px">
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group input-group">
                            <input type="text" class="form-control" placeholder="搜搜优秀的技术博文!" id="searchArt">
                            <span class="input-group-btn">
                        <a class="btn btn-default" id="search"><span
                                class="glyphicon glyphicon-search"></span>&nbsp;搜索</a>
                    </span>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="curlink" href="{{url_for('home.sourceCode')}}" style="font-weight: bold;"><span
                                    class="glyphicon  glyphicon-folder-open"></span>&nbsp;源码共享</a>
                        </li>
                        <li>
                            <a class="curlink" href="{{url_for('home.joke')}}" style="font-weight: bold"><span
                                    class="glyphicon glyphicon-search"></span>&nbsp;内涵笑话</a>
                        </li>
                        <li>
                            <a class="curlink" href="" style="font-weight: bold"><span
                                    class="glyphicon  glyphicon-music"></span>&nbsp;听听音乐</a>
                        </li>

                        {% if "user" not in session %}
                        <li>
                            <a class="curlink" href="{{url_for('home.login')}}" style="font-weight: bold"><span
                                    class="glyphicon glyphicon-log-in"></span>&nbsp;登录</a>
                        </li>
                        <li>
                            <a class="curlink" href="{{url_for('home.register')}}" style="font-weight: bold"><span
                                    class="glyphicon glyphicon-plus"></span>&nbsp;注册</a>
                        </li>
                        {% endif %}
                        {% if "user" in session %}
                        <li>
                            <a class="curlink" href="{{url_for('home.logout')}}" style="font-weight: bold"><span
                                    class="glyphicon glyphicon-log-out"></span>&nbsp;退出</a>
                        </li>
                        <li>
                            <a class="curlink" href="{{url_for('home.user')}}" style="font-weight: bold"><span
                                    class="glyphicon glyphicon-user"></span>&nbsp;{{session["user"]}}</a>
                        </li>
                        {% else %}
                        <li>
                            <a class="curlink" href="{{url_for('home.login')}}" style="font-weight: bold"><span
                                    class="glyphicon glyphicon-user"></span>&nbsp;会员中心</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!--导航-->
            </div>
        </nav>
    </div>
</div>
{% block content %}
{% endblock %}
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
<script src="https://cdn.bootcss.com/wow/1.1.2/wow.min.js"></script>
<script src="{{url_for('static',filename='js/bootstrap.thanlon.js')}}"></script>
<script>
    document.oncontextmenu = function (e) {
        return false;
    };
    $(document).ready(function () {
        $("#search").click(function () {
            // alert(1)
            var key = $("#searchArt").val()
            window.location.href = "{{url_for('home.searchArt',page=1)}}?keyWords=" + key;
        })
    })
</script>
{% block js %}
{% endblock %}
</body>
</html>