{% extends 'home/layout.html' %}
{% import "ui/homePage.html" as pg%}
{% block css %}{% endblock %}
{% block content %}
<div class="container" style="margin-top: 75px">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">关于本站</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <a href="{{url_for('home.aboutUs')}}" class="list-group-item btn "
                           style="font-weight: bold;">
                            &nbsp;&nbsp;用户协议
                        </a>
                        <a href="{{url_for('home.disclaimer')}}" class="list-group-item btn"
                           style="font-weight: bold;">
                            &nbsp;&nbsp;免责申明
                        </a>
                        <a href="{{url_for('home.blueprint')}}" class="list-group-item btn"
                           style="font-weight: bold;">
                            &nbsp;&nbsp;本站蓝图
                        </a>
                        <a href="{{url_for('home.aboutWebmaster')}}" class="list-group-item btn"
                           style="font-weight: bold;">
                            &nbsp;&nbsp;联系运营
                        </a>
                        <a href="{{url_for('home.message',page=1)}}" class="list-group-item btn"
                           style="font-weight: bold;background: #ddd">
                            &nbsp;&nbsp;留言板
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    / 关于本站 / 留言板
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h5>
                        <span class="glyphicon glyphicon-folder-close"></span>
                        资源共享交流QQ群1：917246593
                    </h5>
                    <hr>
                    {% for msg in get_flashed_messages(category_filter=["okey"]) %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            ×
                        </button>
                        {{ msg }}
                    </div>
                    {% endfor %}
                    {% for msg in get_flashed_messages(category_filter=["error"]) %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            ×
                        </button>
                        <h4><i class="icon fa fa-ban"></i> 操作失败</h4>
                        {{ msg }}
                    </div>
                    {% endfor %}
                    <form role="form" style="margin-bottom:6px;" method="post">
                        <div class="form-group">
                            <div>
                                <label for="input_content">{{form.content.label}}</label><br>
                                {{form.content}}
                            </div>
                            {% for err in form.content.errors %}
                            <div class="col-md-12">
                                <font style="color:red">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{form.csrf_token}}
                            &nbsp;{{form.submit}}
                        </div>
                    </form>
                    <div class="breadcrumb">
                        <li>全部评论({{msgcount}})</li>
                    </div>
                    {% for v in pageData.items %}
                    <div class="col-md-12" style="margin-top: 3px;padding: 0">
                        <div class="panel panel-default">
                            <div class="panel-heading">{{v.id}}楼&nbsp;留言于{{v.addTime}}</div>
                            <div class="panel-body">{{v.content}}</div>
                        </div>
                    </div>
                    {%endfor%}

                </div>
                <div class="panel-body">
                    {{pg.page(pageData,'home.message')}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="background:#414141;color: #b2bcc5;margin-top: 20px;margin-bottom: 2px">
    <div class="row">
        <div class="col-md-12  text-center" style="padding: 40px">
            <a href="{{url_for('home.aboutUs')}}" style="color:#b2bcc5;">关于本站</a>&nbsp;|&nbsp;<a
                href="{{url_for('home.disclaimer')}}" style="color:#b2bcc5;">免责申明</a>&nbsp;|&nbsp;<a
                href="{{url_for('home.blueprint')}}" style="color:#b2bcc5;">本站蓝图</a>&nbsp;|&nbsp;<a
                href="{{url_for('home.message',page=1)}}" style="color:#b2bcc5;">联系我们</a>
            <br>
            Copyright © 2018-2019&nbsp; Blue Flag. All Rights Reserved.&nbsp;蓝色旗帜 版权所有&nbsp;
            <br>
            <a target="_blank_" href="http://www.miit.gov.cn/" style="color:#b2bcc5;">鲁ICP备17023496号-3</a>
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41152802000084">
                <img src="{{url_for('static',filename='images/beian.png')}}" style="padding-bottom:6px"/>
                <span style="color:#b2bcc5;">豫公网安备 41152802000084号</span>
            </a>
            <!--            <span>版本号:1.1.0.190402_alpha</span>-->
            <span>
                <script
                        type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://");
                document.write(unescape("%3Cspan id='cnzz_stat_icon_1276774494'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/z_stat.php%3Fid%3D1276774494%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
                </script>
            </span>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function () {
        $("#item5").addClass("active_diy");
    })
</script>
{% endblock %}
