{% extends 'home/layout.html' %}
{% import "ui/homePage.html" as pg%}
{% block css %}
<style>
    .row > .col-md-9 > .panel {
        margin: 1px;
    }

    .row > .col-md-3 > .panel {
        margin: 1px;
    }






</style>
{% endblock %}
{% block content %}
<div class="container" style="margin-top: 75px">
    <div class="row">
        <div class="col-md-9" style="padding:0;">
            <div class="panel panel-default" style="margin: 0;">
                <div class="panel-heading" style="background-color: rgba(0,0,0,.0001)">关于"{{ key }}"的技术博文，共 {{count}}篇</div>
            </div>
            <div class="panel panel-default">
                {% for v in pageData.items %}
                <div class="panel panel-body">
                    <h4>
                        <a href="{{url_for('home.artDesc',id=v.id,page=1)}}"
                           style="color:#3f3f3f;font-weight: bold">
                            {{v.title}}&nbsp;
                        </a>
                    </h4>
                    <p>
                        <a href="{{url_for('home.artDesc',id=v.id,page=1)}}" style="color:#3f3f3f">
                            {{v.briefInfo}}
                        </a>
                    </p>
                    <p>
                        <a href="{{url_for('home.artDesc',id=v.id,page=1)}}" style="color:#3f3f3f;">
                            {{v.addTime}}
                        </a>
                        <a style="color:#3f3f3f;">|&nbsp;阅读数&nbsp;<span style="color:#3379b7;">{{v.viewNum}}</span>&nbsp;|</a>
                        <a style="color:#3f3f3f;">&nbsp;评论数&nbsp;<span
                                style="color:#3379b7;">{{v.commentNum}}</span></a>
                    </p>
                </div>
                {% endfor %}
            </div>
            <div class="text-center">
                {{pg.page(pageData,'home.searchArt')}}
            </div>
        </div>
        <div class="col-md-3" style="padding:0">
            <div class="panel panel-default" style="padding:0px">
                <div class="panel-heading" style="background-color: rgba(0,0,0,.0001)">热搜</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="" style="color:#3f3f3f"><span
                                class="glyphicon glyphicon-list-alt" style="color: #337ab7"></span>&nbsp;&nbsp;Python巩固
                            --Python入门 </a>
                    </li>
                    <li class="list-group-item">
                        <a href="" style="color:#3f3f3f"><span
                                class="glyphicon glyphicon-list-alt" style="color: #337ab7"></span>&nbsp;&nbsp;Python巩固
                            --Python入门 </a>
                    </li>
                    <li class="list-group-item">
                        <a href="" style="color:#3f3f3f"><span
                                class="glyphicon glyphicon-list-alt" style="color: #337ab7"></span>&nbsp;&nbsp;Python巩固
                            --Python入门 </a>
                    </li>
                    <li class="list-group-item">
                        <a href="" style="color:#3f3f3f"><span
                                class="glyphicon glyphicon-list-alt" style="color: #337ab7"></span>&nbsp;&nbsp;Python巩固
                            --Python入门 </a>
                    </li>
                    <li class="list-group-item">
                        <a href="" style="color:#3f3f3f"><span
                                class="glyphicon glyphicon-list-alt" style="color: #337ab7"></span>&nbsp;&nbsp;Python巩固
                            --Python入门 </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
{% endblock %}
